.quick-cards {
  align-items: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 159px;
  justify-content: space-between;
  padding: 20px 0px;
  position: relative;
  width: 264px;
}

.quick-cards .title {
  color: var(--daasthemesysdarkinverse-surface);
  font-family: var(--daas-theme-headline-small-font-family);
  font-size: var(--daas-theme-headline-small-font-size);
  font-style: var(--daas-theme-headline-small-font-style);
  font-weight: var(--daas-theme-headline-small-font-weight);
  letter-spacing: var(--daas-theme-headline-small-letter-spacing);
  line-height: var(--daas-theme-headline-small-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.quick-cards .icons-light-instance {
  height: 70px !important;
  position: relative !important;
  width: 70px !important;
}

.quick-cards.default {
  background-color: var(--daasthemesysdarksurface-container-high);
}

.quick-cards.selected {
  background-color: var(--daasthemesysdarksurface-bright);
}
