.nav-tabs {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 24px;
  position: relative;
}

.nav-tabs .composition-graph {
  align-self: stretch;
  flex: 1;
  font-family: "Titillium Web", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 20px;
  position: relative;
  text-align: center;
}

.nav-tabs .icons-light-4 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.nav-tabs.default {
  border-color: var(--daasthemesysdarkoutline);
  border-right-style: solid;
  border-right-width: 1px;
  height: 47px;
  width: 217px;
}

.nav-tabs.selected {
  background-color: var(--daasthemesysdarksurface-variant);
  height: 45px;
  width: 215px;
}

.nav-tabs.default .composition-graph {
  color: var(--daasthemesysdarkon-surface);
  margin-top: -0.5px;
}

.nav-tabs.selected .composition-graph {
  color: var(--daasthemesysdarkon-surface-variant);
  margin-top: -1px;
}
