.search-bar-dark {
  align-items: center;
  background-color: var(--daasthemesysdarksurface-container);
  border-radius: 28px;
  display: flex;
  gap: 4px;
  height: 56px;
  overflow: hidden;
  padding: 0px 20px;
  position: relative;
  width: 328px;
}

.search-bar-dark .state-layer {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 4px;
  padding: 4px;
  position: relative;
}

.search-bar-dark .content {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 10px;
  position: relative;
}

.search-bar-dark .supporting-text {
  color: var(--daasthemesysdarkon-surface);
  font-family: var(--daas-theme-body-large-font-family);
  font-size: var(--daas-theme-body-large-font-size);
  font-style: var(--daas-theme-body-large-font-style);
  font-weight: var(--daas-theme-body-large-font-weight);
  letter-spacing: var(--daas-theme-body-large-letter-spacing);
  line-height: var(--daas-theme-body-large-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.search-bar-dark .icons-light {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}
