.dark-mode-menu-list {
  align-items: flex-start;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  position: relative;
  width: 208px;
}

.dark-mode-menu-list .div {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  justify-content: space-between;
  padding: 10px 24px 10px 16px;
  position: relative;
}

.dark-mode-menu-list .icon-label {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 8px;
  position: relative;
}

.dark-mode-menu-list .text-wrapper {
  color: var(--daasthemesysdarkinverse-surface);
  font-family: var(--daas-theme-label-large-font-family);
  font-size: var(--daas-theme-label-large-font-size);
  font-style: var(--daas-theme-label-large-font-style);
  font-weight: var(--daas-theme-label-large-font-weight);
  letter-spacing: var(--daas-theme-label-large-letter-spacing);
  line-height: var(--daas-theme-label-large-line-height);
  position: relative;
}

.dark-mode-menu-list .date {
  font-family: var(--daas-theme-label-small-font-family);
  font-size: var(--daas-theme-label-small-font-size);
  font-style: var(--daas-theme-label-small-font-style);
  font-weight: var(--daas-theme-label-small-font-weight);
  letter-spacing: var(--daas-theme-label-small-letter-spacing);
  line-height: var(--daas-theme-label-small-line-height);
  position: relative;
  width: 86px;
}

.dark-mode-menu-list .icons-light-7 {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.dark-mode-menu-list.effect-1-enabled {
  height: 44px;
}

.dark-mode-menu-list.effect-1-pressed {
  height: 44px;
}

.dark-mode-menu-list.effect-1-hover .div {
  background-color: var(--daasthemestate-layerssysdarkprimaryopacity-008);
}

.dark-mode-menu-list.effect-1-focused .div {
  background-color: var(--daasthemestate-layerssysdarkprimaryopacity-008);
}

.dark-mode-menu-list.effect-1-pressed .div {
  align-self: stretch;
  background-color: var(--daasthemestate-layerssysdarkprimaryopacity-012);
}

.dark-mode-menu-list.effect-1-enabled .text-wrapper {
  flex: 1;
}

.dark-mode-menu-list.effect-1-hover .text-wrapper {
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.dark-mode-menu-list.effect-1-focused .text-wrapper {
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.dark-mode-menu-list.effect-1-pressed .text-wrapper {
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.dark-mode-menu-list.effect-1-enabled .date {
  color: var(--daasthemesysdarkon-background);
}

.dark-mode-menu-list.effect-1-hover .date {
  color: var(--daasthemesysdarkinverse-surface);
}

.dark-mode-menu-list.effect-1-focused .date {
  color: var(--daasthemesysdarkinverse-surface);
}

.dark-mode-menu-list.effect-1-pressed .date {
  color: var(--daasthemesysdarkinverse-surface);
}
