.side-menu {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 360px;
}

.side-menu .title {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: 10px;
  height: 45px;
  position: relative;
  width: 100%;
}

.side-menu .menu {
  align-self: stretch;
  color: var(--daasthemesysdarkinverse-surface);
  flex: 1;
  font-family: var(--daas-theme-headline-small-font-family);
  font-size: var(--daas-theme-headline-small-font-size);
  font-style: var(--daas-theme-headline-small-font-style);
  font-weight: var(--daas-theme-headline-small-font-weight);
  letter-spacing: var(--daas-theme-headline-small-letter-spacing);
  line-height: var(--daas-theme-headline-small-line-height);
  margin-top: -1px;
  position: relative;
}

.side-menu .dark-mode-menu-list-instance {
  align-self: stretch !important;
  width: 100% !important;
}

.side-menu .icon-instance-node {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}
